@import "../../base/variables";
@import "../../base/mixins";
.data-science {
    .data-science__top{
        background: url(../../../assets/images/datascience/data-bg.png) no-repeat center;
        background-size: auto;
        background-position: top right -11rem; 
        @include max-width-for(tablet){
            background-size: contain;
        }
    }
    .data-science__middle{
        background: url(../../../assets/images/datascience/process-bg.png) no-repeat center;
        background-size: 36rem;
        background-position: top left;
        @include max-width-for(tablet){
            background-size: contain;
        }
    }
}
.hexagone {
    height: 230px;
    width: calc(230px * 0.57735);
    background: #27aae1;
    position: relative;
    margin: 0 auto;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    &:before,
    &:after {
      position: absolute;
      top: 0;
      right: calc((100% / 2) - ((230px * 0.57735) / 2));
      background-color: inherit;
      height: inherit;
      width: inherit;
      content: "";
    }
    &:before {
      transform: rotateZ(-60deg);
      -webkit-transform: rotateZ(-60deg);
    }
    &:after {
      transform: rotateZ(60deg);
      -webkit-transform: rotateZ(60deg);
    }
    .inner-div{
        position: relative;
        z-index: 1;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
    }
}
.what-next{
    h2{
        padding-bottom: 2rem;
    }
    .bottom-align{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        @include max-width-for(phone){
            flex-direction: column;
        }
        .hexagone{
            margin-top: 26px;
            margin-bottom: 0;;
        }
    }
    &__dis{
        padding-top: 20px;
    }
}
.hexagone{
    margin-bottom: 38px;
}