@import "../../base/variables";
.data-science{
    .data-science__text-left,.data-science__text-right{
        background: url(../../../assets/images/datascience/dot-bg.png) no-repeat center;
        background-size: auto;
        background-position: top left;
        padding-top: 2rem;
        padding-left: 2rem;
    }
    .data-science__top{
        background: url(../../../assets/images/datascience/data-bg.png) no-repeat center;
        background-size: auto;
        background-position: top right -11rem; 
    }
    .data-science__middle{
        background: url(../../../assets/images/datascience/process-bg.png) no-repeat center;
        background-size: 36rem;
        background-position: top left;
    }
    .h2{
        color: $blue;
    }
}
.what-next{
    h2{
        padding-bottom: 2rem;
    }
    .bottom-align{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    &__dis{
        padding-top: 20px;
    }
}