.d-flex, .flex-space-between {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-column {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.flex-row {
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.align-items-center {
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-center {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.flex-space-between {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.hexagone {
  height: 230px;
  width: calc(230px * 0.57735);
  background: #27aae1;
  position: relative;
  margin: 0 auto;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.hexagone:before, .hexagone:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((230px * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: "";
}

.hexagone:before {
  transform: rotateZ(-60deg);
  -webkit-transform: rotateZ(-60deg);
}

.hexagone:after {
  transform: rotateZ(60deg);
  -webkit-transform: rotateZ(60deg);
}

.hexagone .inner-div {
  position: relative;
  z-index: 1;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.work__inner__main-title {
  margin: 0 0 2rem;
}

.work__inner__text {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .work__inner__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.work__inner__text__para {
  margin-bottom: .5rem;
}

@media (max-width: 767px) {
  .work__inner h2 {
    padding-top: 1rem;
  }
}

@media (max-width: 767px) {
  .work__inner__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.work__inner__list {
  padding-left: 2rem;
  counter-reset: list__item 0;
}

.work__inner__list__item {
  margin-bottom: .5rem;
  position: relative;
}

.work__inner__list__item:before {
  content: "0" counter(list__item) "";
  counter-increment: list__item;
  position: absolute;
  left: -1.9rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.work__inner .row {
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
}

@media (max-width: 767px) {
  .work__inner .row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=work-inner.css.map */