@import "./../../base/variables";
.work__inner{
    &__main-title{
        margin: 0 0 2rem;
    }
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__para{
            margin-bottom: .5rem;
        }
    }
    &__list{
        padding-left: 2rem;
        counter-reset: list__item 0; 
        &__item{
            margin-bottom: .5rem;  
            position: relative;
            &:before {              
                content: "0"counter(list__item)""; 
                counter-increment: list__item; 
                position: absolute;
                left: -2rem;
                font-size: 1.2rem;
                font-weight: 700;
            }
        }
    }
    .row{
        margin-top: 2.5rem;
        margin-bottom: 3.5rem;
    }
}
