@import "../../base/variables";
.work{
    &__main-title{
        margin: 0 0 2rem;
        letter-spacing: -1.5px;
    }
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__para{
            margin-bottom: .5rem;
        }
    }
    &__link{
        text-decoration: underline;
        text-transform: uppercase;
        letter-spacing: 3.3px;
        font-size: .7rem;
        color: $black;
        font-weight: 700;
        &:hover{
            color: $primary;
        }
    }
    .row{
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
}
.work-with-us {
    background-image: url(/assets/images/work/work-wwu.png);
    background-size: cover; 
    padding: 150px 0 100px;
    margin: 4rem auto;
    &__banner{
        color: $white;
        &__button{
            color: $white;
            display: inline-block;
            background-color: $blue;
            padding: 20px 40px;
            margin-top: 20px;
            border-radius: 50px;
            max-width: 250px;
        }
    }
    &__title{
        padding: 0 30%;
    }
}