@import "../../base/variables";
.about-desc {
    .row {
        margin-top: 80px;
    }
    .col {
        text-align: right;
        &+.col {
            text-align: left;
        }
    }
}

.about-exp {
    .col {
        margin-bottom: 50px;
    }
    .offsetleft {
        margin-left: 16.666667%;
    }
    .offsetRight {
        margin-right: 16.666667%;
    }
    
}

.about-descbg {
    position: relative;
    padding-bottom: 35%;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about-team {
    h2 {
        margin-bottom: 3rem;
    }
    &__card {
        margin-bottom: 1rem;
    }
    &__cardpadding {
        position: relative;
        text-align: center;
    }
    &__cardpadding img {
        max-width: 70%;
        border: 1px solid #f5f0f0;
        border-radius: 50%;
    }
    figcaption {
        padding: 2.2rem .9rem;
        h4 {
            margin-bottom: .6rem;
            font-family: $lato-regular;
        }
    }
}

.about-rocksauce {
    h2 {
        margin-bottom: 3rem;
    }
}
.about-homesite {
    &__leftinfo {
        margin-bottom: 2rem;
    }
    &__contact {
        background: url(../../../assets/images/about-homesite.jpg) no-repeat center;
        padding: 25px;
        background-size: cover;
        height: 100%;
        display: flex;
        align-items: flex-end;
        position: relative;
        z-index: 1;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba(21, 21, 39, 0.8);
            top: 0;
            z-index: -1;
        }
        h3,p {
            color:#fff;
            margin-bottom: 5px;
        }
        p {
            font-family: $roboto-light;
            line-height: normal;
        }

        .info {
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
