@import "./../../base/mixins";

.industry {
  /*circles*/
  .circles {
    max-width: 90%;
    margin: 54px auto 0 auto;
    @include max-width-for(phone) {
      justify-content: center;
    }
    .circles_item {
      flex-direction: column;
      .circle {
        border-radius: 50%;
        margin-bottom: 26px;
      }
    }
  }
  /* sitecore */
  .sitecore {
    .sitecore_top {
      display: grid;
      grid-template-columns: 55% 42%;
      grid-template-rows: auto auto;
      grid-template-areas:
        "a b"
        "c b";
      @include max-width-for(phone) {
        grid-template-areas:
          "a a"
          "b b"
          "c c";
      }
      .item1 {
        grid-area: a;
        margin-bottom: 1.5rem;
      }
      .item2 {
        grid-area: b;
        margin-bottom: 1.5rem;
      }
      .item3 {
        grid-area: c;
      }
    }
    .sitecore_bottom {
      > ul {
        padding-top: 1.8rem;
        padding-left: 1.5rem;
        li {
          padding-bottom: 1.8rem;
        }
      }
    }
  }
  /*business*/
  .business {
    background: url("../../../assets/images/industrysolutions/layer-11@3x.png") center center;
    background-size: cover;
    background: grey;
    color: #fff;
    padding: 92px 0;
    .circle {
      width: 200px;
      height: 200px;
      background: #fff;
    }
  }
  /*dynamics*/
  .dynamics {
    .sub_title {
      margin-top: 36px;
    }
    .squares {
      max-width: 800px;
      margin: 0 auto;
      @include max-width-for(phone) {
        justify-content: center;
      }
      .squares_item {
        width: 11.1rem;
        height: 11.1rem;
        padding: 2.25rem 0 2.25rem 1.66rem;
        text-align: left;
        color: #fff;
        > div {
          img {
            height: 50px;
            width: 50px;
          }
        }
        &:nth-child(1) {
          background-color: #1b8ccc;
        }
        &:nth-child(2) {
          background-color: #0b79bc;
        }
        &:nth-child(3) {
          background-color: #0674b9;
        }
        &:nth-child(4) {
          background-color: #1b8ccc;
        }
        &:nth-child(5) {
          background-color: #106db3;
        }
        &:nth-child(6) {
          background-color: #1795d2;
        }
        &:nth-child(7) {
          background-color: #1b8ccc;
        }
        &:nth-child(8) {
          background-color: #0b79bc;
        }
        > h6 {
          max-width: 80%;
          margin: 0;
          margin-top: auto;
        }
      }
    }
  }
  /*business process*/
  .business_process {
    .business_process_grid {
      display: grid;
      grid-template-columns: 55% 42%;
      grid-template-rows: auto auto;
      grid-template-areas:
        "a b"
        "c b";
      @include max-width-for(phone) {
        grid-template-areas:
          "a a"
          "b b"
          "c c";
      }
      .item1 {
        grid-area: a;
        margin-bottom: 1.5rem;
      }
      .item2 {
        grid-area: b;
        margin-bottom: 1.5rem;
      }
      .item3 {
        grid-area: c;
        @include max-width-for(phone) {
          text-align: center;
        }
      }
    }
  }
  /*system*/
  .system {
    .circles {
      margin-bottom: 2.2rem;
      .circles_item {
        max-width: 209px;
        .circle {
          width: 150px;
          height: 150px;
          background: #1b8ccc;
        }
      }
    }
    .para {
      margin-top: 2.1rem;
    }
  }
  /*sales or hexagones*/
  .hexagones-container {
    margin-top: 54px;
    .hexagones {
      margin: 0 auto;
      max-width: 480px;
      justify-content: space-between;
      @include max-width-for(phone) {
        max-width: 190px;
      }
      > div {
        min-width: 230px;
        @include max-width-for(phone) {
          min-width: 90px;
        }
      }
      .hexagone {
        height: 230px;
        width: calc(230px * 0.57735);
        position: relative;
        margin: 0 auto;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        @include max-width-for(phone) {
          height: 90px;
          width: calc(90px * 0.57735);
        }
        &:before,
        &:after {
          position: absolute;
          top: 0;
          right: calc((100% / 2) - ((230px * 0.57735) / 2));
          background-color: inherit;
          height: inherit;
          width: inherit;
          content: "";
          @include max-width-for(phone) {
            right: calc((100% / 2) - ((90px * 0.57735) / 2));
          }
        }
        &:before {
          transform: rotateZ(-60deg);
          -webkit-transform: rotateZ(-60deg);
        }
        &:after {
          transform: rotateZ(60deg);
          -webkit-transform: rotateZ(60deg);
        }
        .inner-div {
          margin: 0;
          min-width: 205px;
          width: 100%;
          color: #fff;
          position: relative;
          z-index: 1;
          transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          @include max-width-for(phone) {
            min-width: 90px;
            font-size: 0.75rem;
          }
        }
      }
      &.hexagones_top {
        div:first-child {
          .hexagone {
            background-color: #0674b9;
          }
        }
        div:nth-child(2) {
          .hexagone {
            background-color: #1c5ca8;
          }
        }
      }
      &.hexagones_middle {
        max-width: 710px;
        margin-top: -10px;
        @include max-width-for(phone) {
          max-width: 290px;
        }
        div:first-child {
          .hexagone {
            background-color: #0b79bc;
          }
        }
        div:nth-child(2) {
          .hexagone {
            background-color: #050708;
            height: 175px;
            width: calc(175px * 0.57735);
            @include max-width-for(phone) {
              height: 65px;
              width: calc(65px * 0.57735);
            }
            &:before,
            &:after {
              right: calc((100% / 2) - ((175px * 0.57735) / 2));
              @include max-width-for(phone) {
                right: calc((100% / 2) - ((65px * 0.57735) / 2));
              }
            }
          }
        }
        div:nth-child(3) {
          .hexagone {
            background-color: #106db3;
          }
        }
      }
      &.hexagones_bottom {
        margin-top: -10px;
        div:first-child {
          .hexagone {
            background-color: #1b8ccc;
          }
        }
        div:nth-child(2) {
          .hexagone {
            background-color: #1795d2;
          }
        }
      }
    }
  }
}
