@import "./../base/mixins";
.header{
    position: relative;
    background:$white;
    border-bottom: 1px solid #f5f5f5;
    padding: 48px 0 46px 0;
    &__container {
        max-width: 90%;
        margin: 0 auto;
        @include flex_center_between;
    }
    &__logo{
        img{
            width: 316px;
            @include max-width-for(tablet){
                max-width: 190px;
            }
        }
    }
    &__ex2-humburger{
        #humburgerTrigger {
            width: 25px;
            height: 14px;
            display: inline-block;
            position: relative;
            display: none;
            @include max-width-for(phone){
                display: block;
            }
        }
        &__inner, &__inner:before, &__inner:after{
            width: 25px;
            height: 2px;
            background-color: #8c98a4;
            position: absolute;
            content: "";
            left: 0;
        }
        &__inner{
            top:4px;
            transition: 300ms ease-in;
            &:before{
                top: 10px;
                transition: 300ms ease-in;
            }
            &:after{
                top:12px;
                content: none;
            }
        }
    }
}

