@import "./../base/mixins";
.header{
    position: relative;
    background:$white;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.22);
    padding: 1.6rem 0;
    z-index: 1;
    &__container {
        max-width: 90%;
        margin: 0 auto;
        @include flex_center_between;
    }
    &__logo{
        img{
            @include max-width-for(tablet){
                max-width: 190px;
            }
        }
    }
    &__ex2-humburger{
        #humburgerTrigger {
            width: 25px;
            height: 14px;
            display: inline-block;
            position: relative;
            display: none;
            @include max-width-for(tablet){
                display: block;
            }
        }
        &__inner, &__inner:before, &__inner:after{
            width: 25px;
            height: 2px;
            background-color: #8c98a4;
            position: absolute;
            content: "";
            left: 0;
        }
        &__inner{
            top:4px;
            transition: 300ms ease-in;
            &:before{
                top: 10px;
                transition: 300ms ease-in;
            }
            &:after{
                top:12px;
                content: none;
            }
        }
    }
    .header-social-share{
        background: $black;
        width: 4.7rem;
        padding: 2.2rem .8rem;
        border-radius: 40px 0 0 40px;
        text-align: center;
        position: fixed;
        right: 0;
        top: 125px;
        li{
            margin: 1.2rem 0;
        }
    }
}

