.nav-list{
        @include d-flex(flex);
        list-style: none;
        margin-bottom: 0;
        font-family: $lato-regular;
        &__item:hover{
            .nav-list__sub-list{
                    opacity: 1;
                    top:75px;
                    transition: all .5s ease;
                }
        }
        &__link{
           color: $black;    
           text-transform: uppercase;
           font-size: 18px;
           font-family: $lato-semibold;
           padding: 18px 20px;
            letter-spacing: 0.45px;
           white-space: nowrap;
           &:hover, &.active{
               color: $primary;
           }           
        }
        &__sub-list{
            display: flex;
            position: absolute; 
            border: 2px solid #ccc;
            list-style: none;
            background: #fff;
            z-index: 2;
            padding: 20px;
            top:100%;
            opacity: 0;
            transition: all .5s ease;
            @include max-width-for(phone){
                display: none;
            }
            &:before {
                content: "";
                border-bottom: 19px solid #ccc;
                border-left: 17px solid #d8000000;
                border-right: 18px solid #fb0e0e00;
                position: absolute;
                top: -19px;
                z-index: 1;
            }
            &:after{
                content: "";
                border-bottom: 17px solid #fff;
                border-left: 17px solid #d8000000;
                border-right: 17px solid #fb0e0e00;
                position: absolute;
                top: -15px;
                z-index: 1;
            }
            .nav-list__link{
                text-transform: initial;
                font-weight: 400;
            }
        }
}
.nav-menu{
    display: none;
}
@include max-width-for(phone){

    nav{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9;
        .nav-list{
            display: block;
            margin-top: 80px;
            position: absolute;
            width: 100%;
            height: calc(100% - 80px);
            background: #fff;
            padding-top: 30px;
            overflow: auto;
            &__item{
                padding-top: 30px;
                &:hover{
                & .nav-list__sub-list{
                    display: block;
                    opacity: 1;
                    position: relative;
                    border: none;
                    top: 0;
                    padding: 0 20px;
                    &::after, &:before{
                        content: none;
                    }
                }
                }
            }
        }
    }
    .nav-menu{
        display: none;
        &:checked ~ .header__container {
            nav {
                display: block;
            }
            .header__ex2-humburger{
                position: relative;
                z-index: 10;
                &__inner {
                    top: 4px;
                    transform: rotate(45deg);
                    &:before {
                        top: 0;
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    } 
    
}