@import "../../base/variables";
@import "../../base/mixins";

//Home Image slider design
.home-slider{
    &__desc {
        @include max-width-for(phone) {
            order:2;
            padding:0;
            text-align: center;
            margin-top: 1rem;
        }
        p {
            margin: 25px 0 50px;
        }
    }
    &__image-container {
        @include max-width-for(phone) {
            order:1;
            padding:0;
        } 
    }

}

//home who we are
.home-whowe {
    @include for-size(tablet){
        p{
            margin-bottom: 0;
        }
    }
    .main-dis{
        margin: 0 0 4rem;
        @include for-size(tablet){
            padding: 0 12rem;
        }
    }
    &__fig{
        @include max-width-for(tablet) {
            max-width: 50%;
            flex-basis: 50%;
        }
        @include max-width-for(phone) {
            max-width: 100%;
            flex-basis: 100%;
        }
        h4{
            margin-bottom: 1rem;
        }
    }
    &__figimg {
        margin-bottom: 2rem;
        align-items: center;
        display: flex;
        img {
            max-height: 200px;
        }
    }
}


//whatwedo
.home-whatwedo {
    .container {
        max-width: 850px;
    }
    &__card {
        margin-bottom: 70px;
        cursor: pointer;
        overflow: hidden;
        &:hover {
            .home-whatwedo__card__img__info {
                bottom: 0;
            }
            h4 {
                color: #0b94d3;
            }
        }
        &__img {
            position: relative;
            max-width: 385px;
            &__info {
                display: block;
                position: absolute;
                left: 0;
                bottom: -100%;
                background: rgba(22, 22, 22, 0.65);
                padding: 8% 5%;
                transition: all .5s ease;
                h5 {
                    color: rgba(255, 255, 255, 0.65);
                    font-family: $lato-regular;
                    margin-bottom: .8rem;
                    font-weight: 400;
                }
                a {
                    font-size: .7rem;
                    color: rgba(12, 147, 228, 0.65);
                    text-transform: uppercase;
                    border-bottom:1px solid rgba(12, 147, 228, 0.65);
                    font-family: $lato-bold;
                    letter-spacing: 3.36px;
                }
            }
        }
        h4 {
            color: #070707;
            font-family: $lato-semibold;
            transition: all .5s ease;
        }
    }
}
//home need us
.home-needus {
    padding: 70px 0;
    @include for-size(tablet){
        h5{
            margin-bottom: 0;
        }
    }
    &__desc {
        &para {
            margin-bottom: 50px;
            p {
                text-align: justify;
                margin-bottom: .4rem;
            }
        }
    }

    &__item {
        @include for-size(phone) {
            text-align: center;
            
        }

        &img {
            margin-bottom: 2rem;
            display: flex;  
            align-items: center;
            justify-content: center;
        }
    }



    &__imgblk {
        text-align: right;
    }
}

//home need us