@import "../../base/variables";
@import "../../base/mixins";

//Home Image slider design
.home-slider{
    &__desc {
        p {
            margin: 25px 0 50px;
        }
    }
    .flex-control-nav{
        text-align: left;
    }
}

//whatwedo
.home-whatwedo {
    .container {
        max-width: 850px;
    }
    &__card {
        margin-bottom: 70px;
        cursor: pointer;
        overflow: hidden;
        &:hover {
            .home-whatwedo__card__img__info {
                bottom: 0;
            }
            h4 {
                color: #0b94d3;
            }
        }
        &__img {
            position: relative;
            max-width: 385px;
            &__info {
                display: block;
                position: absolute;
                left: 0;
                bottom: -100%;
                background: rgba(22, 22, 22, 0.65);
                padding: 8% 5%;
                transition: all .5s ease;
                h5 {
                    color: rgba(255, 255, 255, 0.65);
                    font-family: $lato-regular;
                    margin-bottom: .8rem;
                    font-weight: 400;
                }
                a {
                    font-size: .7rem;
                    color: rgba(12, 147, 228, 0.65);
                    text-transform: uppercase;
                    border-bottom:1px solid rgba(12, 147, 228, 0.65);
                    font-family: $lato-bold;
                    letter-spacing: 3.36px;
                }
            }
        }
        h4 {
            color: #070707;
            font-family: $lato-semibold;
            text-align: center;
            margin-bottom: 1.4rem;
            transition: all .5s ease;
        }
    }
}

//home who we are
.home-whowe {
    .main-dis{
        margin: 0 0 100px;
    }
    &__fig{

        h4{
            margin-bottom: 1rem;
            text-align: left; 
        }
        p{
            text-align: left; 
        }
    }
    &__figimg {
        min-height: 200px;
        align-items: center;
        display: flex;
        img {
            max-height: 200px;
        }
    }
}

//home need us
.home-needus {
    padding: 70px 0;
    
    &__desc {
        margin-bottom: 50px;
        p {
            text-align: justify;
            margin-bottom: .4rem;
        }
    }
    &__img {
        min-height: 130px;
        margin-bottom: 30px;
        display: flex;  
        align-items: center;
        justify-content: center;
    }
    &__imgblk {
        text-align: right;
    }
}

//home need us