@media (max-width: 767px) {
  .home-slider__desc {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
    text-align: center;
    margin-top: 1rem;
  }
}

.home-slider__desc p {
  margin: 25px 0 50px;
}

@media (max-width: 767px) {
  .home-slider__image-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .home-whowe p {
    margin-bottom: 0;
  }
}

.home-whowe .main-dis {
  margin: 0 0 4rem;
}

@media (min-width: 768px) {
  .home-whowe .main-dis {
    padding: 0 12rem;
  }
}

@media (max-width: 1024px) {
  .home-whowe__fig {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 767px) {
  .home-whowe__fig {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.home-whowe__fig h4 {
  margin-bottom: 1rem;
}

.home-whowe__figimg {
  margin-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-whowe__figimg img {
  max-height: 200px;
}

.home-whatwedo .container {
  max-width: 850px;
}

.home-whatwedo__card {
  margin-bottom: 70px;
  cursor: pointer;
  overflow: hidden;
}

.home-whatwedo__card:hover .home-whatwedo__card__img__info {
  bottom: 0;
}

.home-whatwedo__card:hover h4 {
  color: #0b94d3;
}

.home-whatwedo__card__img {
  position: relative;
  width: 385px;
  height: 285px;
}

.home-whatwedo__card__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-whatwedo__card__img__info {
  display: block;
  position: absolute;
  left: 0;
  bottom: -100%;
  background: rgba(22, 22, 22, 0.65);
  padding: 8% 5%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.home-whatwedo__card__img__info h5 {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Lato-Regular";
  margin-bottom: .8rem;
  font-weight: 400;
}

.home-whatwedo__card__img__info a {
  font-size: .7rem;
  color: rgba(12, 147, 228, 0.65);
  text-transform: uppercase;
  border-bottom: 1px solid rgba(12, 147, 228, 0.65);
  font-family: "Lato-Bold";
  letter-spacing: 3.36px;
}

.home-whatwedo__card h4 {
  color: #070707;
  font-family: "Lato-Semibold";
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.home-needus {
  padding: 70px 0;
}

@media (min-width: 768px) {
  .home-needus h5 {
    margin-bottom: 0;
  }
}

.home-needus__descpara {
  margin-bottom: 50px;
}

.home-needus__descpara p {
  text-align: justify;
  margin-bottom: .4rem;
}

.home-needus__itemimg {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-needus__imgblk {
  text-align: right;
}
/*# sourceMappingURL=homepage.css.map */