html {
  font-size: 20px;
}
body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: $white;
  font-family: "Roboto-Regular", sans-serif;
  letter-spacing: 0.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
.bold {
  font-weight: 600;
}
.m-bottom-0 {
  margin-bottom: 0;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.bottom-align {
  align-self: flex-end;
}
.spacer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.default-padding {
  padding: 0 15px;
}
// .hexagone{
//     margin: 3.8rem auto;
//     width: 230px;
//     height: 134px;
//     background-color: #27aae1;
//     border-color: #27aae1;
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     &:before,&:after{
//         content: " ";
//         width: 0;
//         left:0;
//         position: absolute;
//         border-left: 115px solid transparent;
//         border-right: 115px solid transparent;
//     }
//     &:before{
//         bottom: 100%;
//         border-bottom: 62px solid #27aae1;
//     }
//     &:after{
//         top: 100%;
//         border-top: 62px solid #27aae1;
//     }
// }
.center-content {
  @extend %justify-content-center;
}

