@import 'mixins';

html {
    font-size: 14px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    @include max-width-for(phone){
        font-size: 15px; 
    }
    @include max-width-for(smallPhone){
        font-size: 12px; 
    }
}
body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: $white;
    font-family: 'Roboto-Regular', sans-serif;
    letter-spacing: 0.1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.m-0{
    margin: 0;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.bottom-align {
  align-self: flex-end;
}
.middle-align{
    align-self:center;
}
.spacer{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.flex-important{
    display: flex !important;
    flex-wrap: wrap !important;
}
// flex helper class
.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.align-items-center {
    align-items: center;
}

.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.center-content {
    justify-content: center;
}
.flex-space-between{
    justify-content: space-between;
}
.flex{
   flex: 1;
}
.flex-center{
    @include flex_center
}
.justify-content-center {
    @extend .d-flex;
    @include flex_justify(center);
}
.justify-content-between {
    @extend .d-flex;
    @include flex_justify(space-between);
}
section{
    .heading-dotbg{
        background: url(../../../assets/images/datascience/dot-bg.png) no-repeat center;
        background-size: 10rem;
        background-position: top left 15px;
        padding-top: 2rem;
        padding-left: 2rem;
        @include max-width-for(phone){
            background-size: 8rem;
        }
    }
    .heading-blue{
        color: #1795d2;
        margin-bottom: 0;
    }
}

@include for-size(tablet){
    .block {
        display: block;
    }
    
    .flex-order{
        order: -1;
    }
    .mb-0{
        margin-bottom: 0;
    }
    .pb-0{
        padding-bottom: 0;
    }
}
@include max-width-for(phone){
    .m-mb-2{
        margin-bottom: 2rem;
    }
}


//sticky css
.header-social-share{
    background: $black;
    width: 4.7rem;
    padding: 2.2rem .8rem;
    border-radius: 40px 0 0 40px;
    text-align: center;
    position: fixed;
    right: 0;
    top: 125px;
    z-index: 3;
    li{
        margin: 1.2rem 0;
    }
    span{
        font-size: 3.4rem;
    }
}
//Back to top
#back-to-top{
    height: 3rem;
    width: 3rem;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    position: fixed;
    bottom: 10px;
    right: 15px;
    color:#1795d2;
    background-color: #fff;
    border: 1px solid #1795d2;
    font-size: 2rem;
    overflow: hidden;
    border-radius: 4px;
    transform: rotate(-90deg);  
}