$blue : #1d5ca9;
$primary : #1795d2;
$black : #000;
$red: #dc3545;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$green: #28a745;
$light: #f8f9fa;
$dark: #343a40;

$lato-light : 'Lato-Light';
$lato-regular : 'Lato-Regular';
$lato-semibold : 'Lato-Semibold';
$lato-bold : 'Lato-Bold';

$roboto-light : 'Roboto-Light';
$roboto-regular : 'Roboto-Regular';
$roboto-medium : 'Roboto-Medium';
$roboto-bold : 'Roboto-Bold';
