.mobile_final {
  .container {
    max-width: 1140px;
  }
  .spacer {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .flexslider {
    margin: 0;
    .slides_caption{
        span{
            font-style:italic;
            font-size: 18px;
        }
    }
  }
  .work_with_us {
    img {
      box-shadow: 1px 1px 34px 2px #797676c4;
      -webkit-box-shadow: 13px 1px 18px 0px #797676c4;
    }
    .btn-container {
      margin-top: 5rem;
    }
  }
  .mobile-grid {
    .col {
      flex: 1 0 34%;
    }
  }
}
